services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    ports:
      - 443:443
    volumes:
      - wordpress_data:/var/www/html
    restart: always
    mem_limit: 128m
    networks:
      - network
    depends_on:
      - wordpress
      - mariadb

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    volumes:
      - wordpress_data:/var/www/html
    restart: always
    mem_limit: 512m
    networks:
      - network
    depends_on:
      - mariadb
    env_file:
      - .env

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - /var/lib/mysql
    restart: always
    mem_limit: 512m
    networks:
      - network
    env_file:
      - .env

networks:
  network:
    driver: bridge

volumes:
  wordpress_data: {}
  mariadb_data: {}